html,
body {
  margin: 0;
  padding: 0;
  background: url(./Assets/Images/background-light.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace;
  line-height: 1.6;
  font-size: 16px;
  color: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 3.125rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.description-container {
  background-color: rgba(51, 51, 51, 0.64);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  align-self: flex-start; 
}

.description-text {
  font-size: 0.8rem;
  text-align: left;
}

.chat-buttons-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  height: 100%; 
}

#buttons-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.circular-button {
  width: 100%;
  min-width: 0;
  max-width: none;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(144, 238, 144, 0.3);
  border: 2px solid #006400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #006400;
  margin: 5px 0;
  transition: background-color 0.3s, transform 0.1s;
}

.circular-button:hover {
  background-color: rgba(144, 238, 144, 0.7);
  transform: scale(1.01);
}

@media (max-width: 600px) {
  .circular-button {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: stretch;
  }

  .description-container {
    align-self: center;
    width: 80%;
    margin-bottom: 20px;  }

  .chat-buttons-container {
    width: 100%;
  }
}

canvas {
  display: block;
}