:root {
    --bg-color: rgb(0, 255, 238);
    --text-color: rgb(253 1 1);


}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Major Mono Display", monospace;
    color: white;
    background-color: var(--bg-color);
    text-transform: uppercase;
}
.intro-section {
    position:sticky;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    /* height: 10vh; */
    width: 100%;
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
    /* margin-bottom: 100px; */
}
.intro-text-p{
    width: 50%;
   font-size: 80px;
}
.intro-text-h1{
    font-size: 180px;
    margin-bottom: 100px;
    font-weight: 600;
}

.main-section {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 100px;
}
.left-text, .right-text {
    font-style:oblique;
    font-weight: 900;
    font-size:70px;
    width: 50%;
    padding: 10px;
    position: relative;
    height:800vh;
    color: var(--text-color);
}

.running-text {
    position:absolute;
    
}

.potato-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1; */
}

#potato-animation {
    width: 1920px;  /* Adjust based on your image size */
    height: 1080px; /* Adjust based on your image size */
    background-image: url('png_sequence/potato0.png');
    background-color: var(--bg-color);
    background-blend-mode: darken;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.1s ease-in-out;
}

.potato-container.final {
    opacity:  0;
    transition: opacity 0.2s ease-in-out;
}


.final-section {
    /* height: 1000px; */
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fortune-text {
    text-align: center;
    color: var(--text-color);
    font-size: 100px;
}

#fortune-img {
    width: 600px;
    height: 600px;
    object-fit: contain;
    object-position: center;
}

#final-fortune-header {
    color: var(--text-color);
    font-size: 100px;
    margin-bottom:100vh;
}


